div.columns#dropdown {
  div.column {
    margin-top: 20px;

    div.mc-field-group {
      margin:0 5px;
      label.label {
        color: $white;
        text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      }
      div.select {
        &:focus{
          outline: none;
        }
        select {
          background-color: lighten($primary, 10);
          border: 0;
          border-radius: 50px;
          color: $white;
          box-shadow: $material-shadow;
          &:active {
            box-shadow: $material-shadow;
          }
          &:focus {
            box-shadow: $material-shadow;
            border-color: none;
          }
        }
      }
    }
  }
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: $white;
}
.select:not(.is-multiple):not(.is-loading):hover::after {
  border-color: $blue;
}

